@use "sass:color";
@import "template/mixins";
@import "template/settings";

// Font settings
@import url(https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next);
@import url(https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono);

/**
 * AECOM coroporate colour scheme!
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

$background:   #ffffff;
$foreground:   #000000;
$fuschia:      #c70c6f;
$darkteal:     #00353e;
$orange:       #e52713;
$yellow:       #ffce00;
$earthgreen:   #008768;
$limegreen:    #aecc53;
$teal:         #009a9b;



// Override theme settings (see ../template/settings.scss)
$mainColor: $foreground;
$headingColor: $earthgreen;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: $background;
$linkColor: $teal;
$linkColorHover: $darkteal;
$selectionBackgroundColor: $darkteal;
$inlineCodeColor: $orange;
$listBulletColor: $earthgreen;


// Change text colors against light slide backgrounds
@include light-bg-text-color($background);

// Theme template ------------------------------
@import "template/theme";


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $background;
  color: $foreground;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: $earthgreen;
}

.hljs-code {
  color: $limegreen;
}

.hljs-class .hljs-title {
  color: $foreground;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: $yellow;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: $teal;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: $darkteal;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}


// Font settings
.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
}

.reveal code {
    font-family: 'Atkinson Hyperlegible Mono', sans-serif;
    text-transform: none;
}

.reveal pre.code-wrapper {
    font-size: 0.3em;
}

// Use third / half containers for split content
.reveal {
  .flex-container {
    display: flex;
    .half {
      flex: 1;
      width: 50%;
      margin-left: 5px;
      margin-right: 5px;
    }
    .third {
      flex: 1;
      width: 33.33333%;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.notitle h3 {
  opacity: 0;
}

.reveal-viewport {
  background-image: url(images/AECOM_Logo_Black_RGB.svg);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
}
